<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PJH Work</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><strong>Time is Gold</strong> </div>
      <div class="list-group list-group-flush">
        <a href="{{serverIp}}/works" class="list-group-item list-group-item-action bg-light">Today</a>
        <a href="{{serverIp}}/month" class="list-group-item list-group-item-action bg-light">Month</a>
        <a href="{{serverIp}}/modify" class="list-group-item list-group-item-action bg-light">Modify</a>
        <a href="{{serverIp}}/logout" class="list-group-item list-group-item-action bg-light">logout</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-dark" id="menu-toggle"> Menu</button>

        <h4>
            User : {{ personId }}
        </h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">login</a>
              <a class="nav-link" href="/logout">logout</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
      <br>
      <div class="container-fluid">
          <a class="btn btn-secondary btn-block" role="button" href="{{serverIp}}/modify"> 수동 시간 설정</a>
      </div>
      <div class="container-fluid">
        <br>
        
        <div class="card text-white bg-dark">
          <div class="card-body">
            {% csrf_token %}
            <h2 class="mt-4" style="text-align:center"> Work Time </h2>
            <p></p>
            <h3 id="prefixItem" style="text-align:center"></h3>
            <strong><h1 id="currentTimeWork" style="text-align:center"></h1></strong>
            <div class="row">
              <div class="col">
                <div class="btn-group" role="group">
                  <button class="btn btn-light active" onclick="workStartButton('{{csrf_token}}','{{serverApiIp}}')" > 출근 </button>
                  <button class="btn btn-light" onclick="workEndButton('{{csrf_token}}','{{serverApiIp}}')"> 퇴근 </button>
                  <!-- <button class="btn btn-primary" onclick="dayOffButton('{{csrf_token}}')"> 휴가 </button>  -->
                </div>
              </div>
              <div class="col">
                <div class="btn-group" role="group" style="float:right">
                  <button class="btn btn-primary" onclick="loadWorkTime('{{csrf_token}}','{{serverApiIp}}')"> 근무 시간</button>
                  <button class="btn btn-danger" onclick="totalWorkTime('{{csrf_token}}','{{serverApiIp}}')"> 최종 시간</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p>
              <small> ** 최종 시간 확인 시 점심시간 1시간 제외되어 계산됩니다. </small>&nbsp;
            </p>
            <p>
              <small> (퇴근 시간) : 퇴근 버튼 여러번 가능.</small>&nbsp;<br>
              <small> (근무 시간) : 휴식 시간 적용 전 총 업무 시간,</small>&nbsp;<br>
              <small> (최종 시간) : 휴식 시간을 적용 후 총 하루 업무 시간</small>
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
          <br>
          <div class="card text-white bg-success">
            <div class="card-body">
              {% csrf_token %}
              <h2 class="mt-4" style="text-align:center"> Break Time </h2>
              <p></p>
              <h1 id="currentTimeBreak" style="text-align:center"></h1>
              <div class="btn-group" role="group">
                <button class="btn btn-light" onclick="loadBreakTime('{{csrf_token}}','{{serverApiIp}}')"> 쉬는 시간 </button>
                <button class="btn btn-primary" onclick="breakStartButton('{{csrf_token}}','{{serverApiIp}}')" > 시작 </button>
                <button class="btn btn-warning" onclick="breakEndButton('{{csrf_token}}','{{serverApiIp}}')"> 종료 </button> 
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- <script src="/static/vendor/dev/indexButton.js"></script> -->
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });


    function loadWorkTime(csrf_token, server_ip) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if ( xhttp.readyState == 4 && xhttp.status ==201) {
        var response = JSON.parse(xhttp.responseText);
        // console.log(response)
        document.getElementById("currentTimeWork").innerHTML = response.currentTime;              
        }
      }

      xhttp.open("POST",  server_ip + "currentTime", false);
      xhttp.setRequestHeader("Content-type", "application/json");
    //   var csrf_token = '{{csrf_token}}';
      xhttp.setRequestHeader("X-CSRFToken",csrf_token);
      xhttp.send();
    };

    function workStartButton(csrf_token, server_ip){
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if ( xhttp.readyState == 4 && xhttp.status ==201) {
        var response = JSON.parse(xhttp.responseText);
        // console.log(response)
        document.getElementById("currentTimeWork").innerHTML = "출근 하셨습니다."              
        }
        else if(xhttp.status==400)
        {
          alert("이미 출근 하셨습니다.")
        }
      }
      
      xhttp.open("POST", server_ip + "start", false);
      xhttp.setRequestHeader("Content-type", "application/json");
    //   var csrf_token = '{{csrf_token}}';
      xhttp.setRequestHeader("X-CSRFToken",csrf_token);
      xhttp.send();
    };

    function workEndButton(csrf_token, server_ip){
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if ( xhttp.readyState == 4 && xhttp.status ==201) {
        var response = JSON.parse(xhttp.responseText);
        // console.log(response)
        document.getElementById("currentTimeWork").innerHTML = "퇴근 하셨습니다.";              
        }
      };

      xhttp.open("POST", server_ip + "end", false);
      xhttp.setRequestHeader("Content-type", "application/json");
    //   var csrf_token = '{{csrf_token}}';
      xhttp.setRequestHeader("X-CSRFToken",csrf_token);
      xhttp.send();
    };

    function breakStartButton(csrf_token, server_ip){
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if ( xhttp.readyState == 4 && xhttp.status ==201) {
        var response = JSON.parse(xhttp.responseText);
        // console.log(response)
        document.getElementById("currentTimeBreak").innerHTML = "Break Start !!(" + response.serverTime +")";              
        }
        else if(xhttp.status==400)
        {
          alert("이미 쉬는 중입니다.")
        }
      }
      
      xhttp.open("POST", server_ip + "break/start", false);
      xhttp.setRequestHeader("Content-type", "application/json");
    //   var csrf_token = '{{csrf_token}}';
      xhttp.setRequestHeader("X-CSRFToken",csrf_token);
      xhttp.send();
    };

    function breakEndButton(csrf_token, server_ip){
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if ( xhttp.readyState == 4 && xhttp.status ==201) {
        var response = JSON.parse(xhttp.responseText);
        // console.log(response)
        document.getElementById("currentTimeBreak").innerHTML = "Break End !! (" + response.serverTime +")";              
        }
      };

      xhttp.open("POST", server_ip + "break/end", false);
      xhttp.setRequestHeader("Content-type", "application/json");
    //   var csrf_token = '{{csrf_token}}';
      xhttp.setRequestHeader("X-CSRFToken",csrf_token);
      xhttp.send();
    };

    function loadBreakTime(csrf_token, server_ip) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if ( xhttp.readyState == 4 && xhttp.status ==201) {
        var response = JSON.parse(xhttp.responseText);
        // console.log(response)
        document.getElementById("currentTimeBreak").innerHTML = response.currentTime;              
        }
      }

      xhttp.open("POST",  server_ip + "break/total", false);
      xhttp.setRequestHeader("Content-type", "application/json");
    //   var csrf_token = '{{csrf_token}}';
      xhttp.setRequestHeader("X-CSRFToken",csrf_token);
      xhttp.send();
    };

    function dayOffButton(csrf_token, server_ip) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if ( xhttp.readyState == 4 && xhttp.status ==201) {
        var response = JSON.parse(xhttp.responseText);
        // console.log(response)
        document.getElementById("currentTimeWork").innerHTML = "DAY OFF!";              
        }
      }

      if(confirm("Day Off 및 휴가 처리 하시겠습니까?"))
      {
        xhttp.open("POST",  server_ip + "dayoff", false);
        xhttp.setRequestHeader("Content-type", "application/json");
        // var csrf_token = '{{csrf_token}}';
        xhttp.setRequestHeader("X-CSRFToken",csrf_token);
        xhttp.send();
      }
    };

    function totalWorkTime(csrf_token, server_ip) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if ( xhttp.readyState == 4 && xhttp.status ==201) {
          var response = JSON.parse(xhttp.responseText);
          // console.log(response)
          document.getElementById("prefixItem").innerHTML = response.serverDate + "의 근무시간은!"
          document.getElementById("currentTimeWork").innerHTML = response.currentTime;              
          }
        }
  
        xhttp.open("POST",  server_ip + "total", false);
        xhttp.setRequestHeader("Content-type", "application/json");
          // var csrf_token = '{{csrf_token}}';
        xhttp.setRequestHeader("X-CSRFToken",csrf_token);
        xhttp.send();
        
      };

    function getPersonId(cookieName){
      cookieName = cookieName + '=';
      var cookieData = document.cookie;
      var start = cookieData.indexOf(cookieName);
      var cookieValue = '';
      if(start != -1){
        start += cookieName.length;
        var end = cookieData.indexOf(';', start);
        if(end == -1) end = cookieData.length;
        cookieValue = cookieData.substring(start, end);
      }
      return cookieValue;
    }

    
  </script>

</body>

</html>
