{% extends "base.html" %}
{% block content %}

<br>
      <div class="container-fluid">
          <h4 style="text-align:center"> 개발 예정 </h4>
      </div>

{% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  {% block script %}
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    

  </script>
  {% endblock %}

</body>

</html>
