{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="container-fluid">
  <br>
  <div class="card bg-dark">
    <div class="card-body">
      <h3 style="color: white; text-align: center;">{{ monthInfo }} 현황 </h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col">
      <h5 style="text-align:left;"> 1. 출퇴근 시간 현황 </h5>   
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div id="start_chart_div" style="width: 100%; height: 100%;"></div>
    </div>
    <div class="col">
      <div id="end_chart_div" style="width: 100%; height: 100%;"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <br><br>
    <h5 style="text-align:left;"> 2. 한달 총 근무 시간 </h5>
    <!-- <div class="card bg-warning"> -->
      <h1 style="text-align: center;"> {{ totalTime }}</h1>
    <!-- </div> -->
    
    <br>
    <div class="row">
      <div class="col">
        <h5 style="text-align:left;"> 3. 한달 근무 현황 </h5>
        <div class="card text-black bg-light">
          <div class="card-body">
            {% csrf_token %}
        <table class="table table-striped table-sm">
          <thead class="thead-dark">          
            <tr>
              <th>Date</th>
              <th>Start</th>
              <th>End</th>
              <th>total</th>
            </tr>        
          </thead>
                  
          <tbody>
            {% for item in monthWork %}
            <tr> 
              <td><b>{{ item.todayDate }}</b></td>
              <td>{{ item.workStartTime }}</td>
              <td>
                {{ item.workEndTime }}
                {% if item.workEndTime == "none" %}
                  <span class="badge badge-danger">퇴근 미처리</span>
                {% endif %}
              </td>
              <td>
                {{ item.totalWorkTime }}
                {% if item.totalWorkTime == "none" %}
                  <span class="badge badge-danger">퇴근 미처리</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}        
          </tbody>      
        </table>
              
      </div>
    </div>
  </div>
    </div>
</div>

{% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  {% block script %}
  <script type="text/javascript">
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var startTime = "{{ startList }}";
        var endTime = "{{ endList }}";

        var startTimeList =  startTime.replace("[","").replace("]","").split(", ")
        var endTimeList =  endTime.replace("[","").replace("]","").split(", ")
    
        var startdata = google.visualization.arrayToDataTable([
          ['Work', 'start'],
          [ '00 시', Number(startTimeList[0])],
          [ '01 시', Number(startTimeList[1])],
          [ '02 시', Number(startTimeList[2])],
          [ '03 시', Number(startTimeList[3])],
          [ '04 시', Number(startTimeList[4])],
          [ '05 시', Number(startTimeList[5])],
          [ '06 시', Number(startTimeList[6])],
          [ '07 시', Number(startTimeList[7])],
          [ '08 시', Number(startTimeList[8])],
          [ '09 시', Number(startTimeList[9])],
          [ '10 시', Number(startTimeList[10])],
          [ '11 시', Number(startTimeList[11])],
          [ '12 시', Number(startTimeList[12])]
        ]);

        var enddata = google.visualization.arrayToDataTable([
          ['Work', 'end'],
          ['13 시', Number(endTimeList[13])],
          ['14 시', Number(endTimeList[14])],
          ['15 시', Number(endTimeList[15])],
          ['16 시', Number(endTimeList[16])],
          ['17 시', Number(endTimeList[17])],
          ['18 시', Number(endTimeList[18])],
          ['19 시', Number(endTimeList[19])],
          ['20 시', Number(endTimeList[20])],
          ['21 시', Number(endTimeList[21])],
          ['22 시', Number(endTimeList[22])],
          ['23 시', Number(endTimeList[23])],
          ['00 시', Number(endTimeList[0])],
          ['01 시', Number(endTimeList[1])],
          ['02 시', Number(endTimeList[2])],
          ['03 시', Number(endTimeList[3])]
          
        ]);

        var startoptions = {
          title: '출근 시간 현황',
          pieSliceText: 'label',
          legend: "none",
          is3D: true
          // hAxis: {title: 'Work Time',  titleTextStyle: {color: '#333'}},
          // vAxis: {minValue: 0},
          // bar: {groupWidth: "95%"},
        };

        var endoptions = {
          title: '퇴근 시간 현황',
          pieSliceText: 'label',
          legend: "none" ,
          is3D: true
          // hAxis: {title: 'Work Time',  titleTextStyle: {color: '#333'}},
          // vAxis: {minValue: 0},
          // bar: {groupWidth: "95%"},
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('start_chart_div'));
        chart1.draw(startdata, startoptions);

        var chart2 = new google.visualization.PieChart(document.getElementById('end_chart_div'));
        chart2.draw(enddata, endoptions);
       
      }

  </script>
  {% endblock %}

</body>

</html>
