{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container-fluid">
  <br>
  <!-- <div class="row"> -->
    <!-- <div class="col"> -->
      <div id="chart_div" style="width: 100%; height: 500px;"></div>
    <!-- </div> -->
  <!-- </div> -->
</div>

<br>
<div class="container-fluid">
    <br><br>
    <h2> Month. {{ totalTime }}</h2>
    <div class="row">
      <div class="col">
    <div class="card text-black bg-light">
      <div class="card-body">
        {% csrf_token %}
        <table class="table table-striped">
          <thead class="thead-dark">          
            <tr>
              <th>Date</th>
              <th>Start</th>
              <th>End</th>
              <th>total</th>
            </tr>        
          </thead>
                  
          <tbody>
            {% for item in monthWork %}
            <tr> 
              <td>{{ item.todayDate }}</td>
              <td>{{ item.workStartTime }}</td>
              <td>{{ item.workEndTime }}</td>
              <td>{{ item.totalWorkTime }}</td>
            </tr>
            {% endfor %}        
          </tbody>      
        </table>
              
      </div>
    </div>
  </div>
    </div>
</div>

{% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  {% block script %}
  <script type="text/javascript">
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var startTime = "{{ startList }}";
        var endTime = "{{ endList }}";

        var startTimeList =  startTime.replace("[","").replace("]","").split(", ")
        var endTimeList =  endTime.replace("[","").replace("]","").split(", ")
    
        var data = google.visualization.arrayToDataTable([
          ['Work', 'Start', 'End'],
          ['3',  Number(startTimeList[3]),      Number(endTimeList[3])],
          ['4',  Number(startTimeList[4]),      Number(endTimeList[4])],
          ['5',  Number(startTimeList[5]),      Number(endTimeList[5])],
          ['6',  Number(startTimeList[6]),      Number(endTimeList[6])],
          ['7',  Number(startTimeList[7]),      Number(endTimeList[7])],
          ['8',  Number(startTimeList[8]),      Number(endTimeList[8])],
          ['9',  Number(startTimeList[9]),      Number(endTimeList[9])],
          ['10',  Number(startTimeList[10]),      Number(endTimeList[10])],
          ['11',  Number(startTimeList[11]),      Number(endTimeList[11])],
          ['12',  Number(startTimeList[12]),      Number(endTimeList[12])],
          ['13',  Number(startTimeList[13]),      Number(endTimeList[13])],
          ['14',  Number(startTimeList[14]),      Number(endTimeList[14])],
          ['15',  Number(startTimeList[15]),       Number(endTimeList[15])],
          ['16',  Number(startTimeList[16]),       Number(endTimeList[16])],
          ['17',  Number(startTimeList[17]),       Number(endTimeList[17])],
          ['18',  Number(startTimeList[18]),       Number(endTimeList[18])],
          ['19',  Number(startTimeList[19]),       Number(endTimeList[19])],
          ['20',  Number(startTimeList[20]),       Number(endTimeList[20])],
          ['21',  Number(startTimeList[21]),       Number(endTimeList[21])],
          ['22',  Number(startTimeList[22]),       Number(endTimeList[22])],
          ['23',  Number(startTimeList[23]),       Number(endTimeList[23])],
          ['0',  Number(startTimeList[0]),       Number(endTimeList[0])],
          ['1',  Number(startTimeList[1]),       Number(endTimeList[1])]
        ]);

        var options = {
          title: 'Work ( Start | End ) Graph',
          hAxis: {title: 'Work Time',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);

       
      }

  </script>
  {% endblock %}

</body>

</html>
